Package: nightmare
Package_Name:nightmare
Version: 2.0.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Antman@quantam-universe <https://github.com/antman-quantamUniverse>
Depends: bash, coreutils, network-manager, macchanger, anonsurf, ufw, wget 
Description: Nightmare - Powerfull Anonymous CLI Toolkit
 A command-line utility to spoof MAC, hide IP, route traffic via Tor,
 disable IPv6, and enable strict firewall rules. Become the ghost inside the machine.Version 1-1-0 adds a silent reset system to ensure every ghost session starts clean
